fastapi==0.109.0
uvicorn[standard]==0.27.0
httpx==0.26.0
pydantic==2.10.4
pydantic-settings==2.7.1
motor==3.6.0
odmantic==1.0.2
python-dotenv==1.0.0
langdetect==1.0.9
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
dnspython
certifi
bcrypt==3.2.0
gunicorn==21.2.0
email-validator==2.1.0.post1
